<!DOCTYPE html>
<html lang="en" th:fragment="html"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <head th:insert="fragments/fragment :: head"><

    <title>tableau de Bord</title>
</head>
<body>
<div class="containerPrincipal">
    <div class="containerGauche">

            <div th:insert="fragments/fragment :: header"></div>-->
        </div>

    <main class="dashboard">
        <h2>Tableau de bord</h2>
        <div class="cards">
            <div class="card">
                <h3>Nombre d'élève</h3>
                <p id="studentCount" th:text="${studentCount}">0</p>
            </div>
            <div class="card">
                <h3>Nombre de professeur</h3>
                <p id="teacherCount" th:text="${teacherCount}">0</p>
            </div>
            <div class="card">
                <h3>Nombre d'utilisateur</h3>
                <p id="userCount" th:text="${userCount}">0</p>
            </div>
            <div class="card">
                <h3>Élève par genre</h3>
                <canvas id="genderChart"></canvas>
        </div>
        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="js/script.js"></script>

</body>
</html>

